
/**
* @author Abhijeet Rathore
**/



body{
    margin-top: 10%;
    background: rgb(18,194,233);
    background: linear-gradient(90deg, rgba(18,194,233,1) 0%, rgba(196,113,237,1) 50%, rgba(246,79,89,1) 100%);
    background-size: cover
  }

  .container{
    margin-top: 100px;
    float:none;
    width: 45%;
    height: 200px;
    display: flexbox;
  
  }
  .float-container {
    margin-left: 1px;
    display:flex;
    width: 600px;
    background: #ffffff;
    float: left;
    border: 3px solid #ffffff;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 12px;

  }
  
  .float-child {
    display:flex;
    background: #ffffff;
    float: right;
    height: 300px;
    padding: 20px;
    border:0rem solid #ffffff;
    
  }

  .RegisterButton{
    transition: ease-in-out;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    background-color:#12C2E9;
    color:white;
    border: 2px solid #12C2E9;
  }
  
  .LoginButton{
    transition: ease-in-out;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    background-color:#12C2E9;
    color:white;
    border: 2px solid #12C2E9;
  }

